html {
    scroll-behavior: smooth;
}

body{
    background-color: #f0f0f0;
    color: #555;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height:1.6em;
    margin:0;
}

/* Navebar and Header */

#main-header{
    display: flex;
    justify-content: center;
    overflow: hidden;
    color:#fff;
    background-color: transparent;
    padding-left: 0%;
    padding-top: 1%;
}

#main-header .navbar {
    display: flex;
    color:white;
    width: auto;
    font-weight: 400;
    align-items: center;
}

#main-header .navbar ul {
    padding:0;
    list-style: none;
}

#main-header .navbar li {
    display: inline;
    padding-right:28px;
}

#main-header .navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    opacity: 100%;
}

#main-header .navbar a,
#main-header .navbar a:after,
#main-header .navbar a:before {
    transition: all .3s;    
}

#main-header .navbar a:hover {
    opacity: 100%;
}

#main-header .navbar a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;
}

#main-header .navbar  a:hover:after {
    width: 100%;
}


/* Front Page */

.showcase{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 100%;
    background-image:url("../images/ColoradoHDwLake.jpg");
    min-height: 100vh;
}

.introduction-container{
    display: flex;
    width:80%;
    margin:auto;
    overflow: hidden;
    font-weight: 200;

}


.showcase .introduction-container{
    display: flex;
    width: 100%;
    box-sizing: border-box;

    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color:white;
    line-height: 1.6em;
    padding-top: 30%;
    padding-left: 10%;
    

}

.introduction {
    display: flex;
    font-size: 20px;
    font-weight: 100;
    
    padding: 1%;
    height: 120px;
    border: 8px solid white;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(100,100,100,0.5);
    
}

.greeting {
    font-size: 25px;
    font-weight: 200;
    
}

.myname {
    font-size: 60px;
    font-weight: 400;
    padding-top: 2%;
}

.briefDescription {
    font-size: 25px;
    font-weight: 200;
    padding-top: 2%;
}


/* Main Body */
.main-body {
    display: flex;
    flex-direction: column;
    
    
}

.headshot-and-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%;
    margin:auto;
    overflow: hidden;
    font-weight: 200;
}

.headshot-wrapper{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: 5% 0;
}

.headshot{
    margin-left: 0%;
    height: auto;
    width: 100%;
}

#sidebar{
    float: right;
    font-size: 18px;
    width: 60%;
    color:#333;
    padding: 10px;
    box-sizing: border-box;
}

/* Homepage links */

.LinkContainer {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
}

.PageLinks {
    display: flex;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    justify-content: center;
}

.img {
    display: flex;
    box-sizing: border-box;
    margin: 0.5%;
    padding: 1%;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);

    font-size: 25px;
    color: #fff;
    text-decoration: none;

    justify-content: end;
    align-items: flex-end;

    transition:.1s all;
    
}

.PageLinks:hover .img {
    filter: blur(1px);
    opacity:1;
    transform: scale(.98);
    box-shadow:none;
}

.PageLinks:hover .img:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.academics{
    background: url('../images/UT_image.jpg') no-repeat center center;
    background-size: cover;
}

.work{
    background: url('https://images.unsplash.com/photo-1528696892704-5e1122852276?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
    background-size: cover;
}

.about{
    background: url('https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
    background-size: cover;
}

.passions {
    background: url('https://images.unsplash.com/photo-1563305145-b64e0c2184aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
    background-size: cover;
}

.space {
    background: url('../images/U49nFhh-space-shuttle-desktop-wallpaper.jpg') no-repeat center center;
    background-size: cover;
}

/* -- Body sections -- */


/* -----------------------------------------------------------------------------------------------------------

Projects 

----------------------------------------------------------------------------------------------------------- */

#projects {
    display: flex;
    flex-direction: column;
    background-color: #333;
}

#projects h2 {
    padding-left: 10%;
    padding-top: 2%;
    color: #ddd;
    font-weight: 200;
    font-size: 30px;
}

#projects .projects-section {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#projects .project-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    margin: 2% 2% 5% 2%;
    align-items: center;
    width: 25%;
    height: 600px;
   
}

#projects .cover-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.project-text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project-title-text {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    margin-top: 13%;
}

.project-title-text:before, .project-title-text:after {
    border-top: 2px solid;
    content: '';
    margin: 0 20px 0 0;
    flex: 1 0 1px;
}
.project-title-text:after {
    margin: 0 0 0 20px;
}

.project-title-comment {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    color: #999;
    margin-top: 10%;
}

.button {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    margin-top: 16%;
}

.button-link {
    color: #aaa;
    transition: 0.25s;
}

.button-link:hover { /* , .button-link:focus -- maybe leave this */
    box-shadow: inset 0 -3.25em 0 0 #000;
    border-color: #000;
    color: #aaa;
}
.button-link {
    text-decoration: none;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.more-projects {
    display: flex;
    justify-content: center;
    align-items: center;

}

.see-more-wrapper {
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    margin-bottom: 5%;
}

.projects-collapsible {
    text-decoration: none;
    color: #ddd;
    background: none;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    border: 1px solid;
}

/* Section specific details */

.iss-project .cover-image {
    background: url('../images/ISS_STS-132.jpg') no-repeat center center;
    background-size: cover;
}

.iss-project .project-title-text {
    width: 80%;   
}

.docking-project .cover-image {
    background: url('../images/iss_sts119.jpg') no-repeat center center;
    background-size: cover;
}

.docking-project .project-title-text {
    width: 85%;   
}

/* -----------------------------------------------------------------------------------------------------------

Experience 

----------------------------------------------------------------------------------------------------------- */

#experience {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    
}

#experience h2 {
    padding-left: 10%;
    padding-top: 2%;
    color: #333;
    font-weight: 200;
    font-size: 30px;
}

#experience .experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#experience .exp-wrapper {
    display: flex;
    height: 210px;
    width: 80%;
    margin: 1% 0;
    padding: 1%;
    background-color: white;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    
}

#experience .job-logo {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 5px;
}

#experience .vert-bar {
    border-left: 2px solid #555;
    margin-left: 1%;
    height: 100%;
}

#experience .job-description {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 2%;
    width: 80%;
}

#experience .header-container {
    display: flex;
    flex-direction: row;
}

#experience .job-header {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#experience .dates {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #aaa;
    width: 40%;
}

#experience .company {
    font-size: 24px;
}

#experience .position {
    margin-top: 2px;
    
}

#experience .responsibilities {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    color: #999;
    width: 80%;
}

#experience .ball-aerospace .job-logo {
    background: url('../images/BallLogo2.png') no-repeat center center;
    background-size: cover;
}

#experience .OSR .job-logo {
    background: url('../images/OdysseyLogo.jpeg') no-repeat center center;
    background-size: cover;
}

#experience .TREL .job-logo {
    background: url('../images/TrelLogo.png') no-repeat center center;
    background-size: cover;
}

#experience .ARL .job-logo {
    background: url('../images/ARLLogo.png') no-repeat center center;
    background-size: cover;
}

/* -----------------------------------------------------------------------------------------------------------

Skills 

----------------------------------------------------------------------------------------------------------- */


#skills {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

#skills h2 {
    padding-left: 10%;
    padding-top: 2%;
    color: #333;
    font-weight: 200;
    font-size: 30px;
}

/* -----------------------------------------------------------------------------------------------------------

Another section 

----------------------------------------------------------------------------------------------------------- */

#about {
    background: #ddd;
}

#contact {
    background: #ddd;
}


/* -----------------------------------------------------------------------------------------------------------

Footer

----------------------------------------------------------------------------------------------------------- */


#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

#main-footer .ExternalProfiles {
    display: flex;
    background-color:transparent;
    color:white;
    font-weight: 100;   
    align-items: center;
    justify-content: center;
}

#main-footer .ExternalProfiles ul {
    padding:0;
    list-style: none;
}

#main-footer .ExternalProfiles li {
    display: inline;
}

#main-footer .ExternalProfiles a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}

@media screen and (min-width: 800px) {
    .LinkContainer{
      height: 300px; 
    }
    
    .img{
      height: 95%;  
      width: 20%;
    }
}

@media screen and (max-width: 800px) {
    .PageLinks{
      flex-wrap: wrap; 
    }
    
}

@media(max-width:600px) {
    #main{
        width: 100%;
        float:none;
    }
    #sidebar{
        width: 100%;
        float:none;
    }

}

