body{
    background-color: #f4f4f4;
    color: #555;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height:1.6em;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
    font-weight: 200;
}

#main-header{
    display: flex;
    overflow: hidden;
    color:#fff;
}

#main-header .MainText {
    padding: 0 10%;
    text-align: start;
    background-color: black;
    border: 2px solid black;
    width: 20%;
}

#main-header .MainText h1 {
    font-weight: 100;
}

#main-header .graphic {
    background-color: gray;
    width: 20%;
}

#main-header .navbar {
    background-color:black;
    color:white;
    width: 50%;
    border: 2px solid red;
    font-weight: 100;
}

#main-header .navbar ul {
    padding:0;
    list-style: none;
}

#main-header .navbar li {
    display: inline;
}

#main-header .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}


#showcase{
    backgroun-image:url(../images/insertimagehere);
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color:black;
    font-size: 16px;
    line-height: 1.6em;
    padding-top: 30px;
    font-weight: 100;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color:white;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px) {
    #main{
        width: 100%;
        float:none;
    }
    #sidebar{
        width: 100%;
        float:none;
    }

}

